<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.uipservice.dao.CommentReplyMapper">

    <resultMap id="BaseResultMap" type="com.example.uipservice.entity.CommentReply" >
        <id column="info_id" property="infoId" jdbcType="BIGINT" />
        <result column="comment_id" property="toId" jdbcType="BIGINT" />
        <result column="commentator_id" property="fromId" jdbcType="BIGINT" />
        <result column="user_name" property="fromName" jdbcType="VARCHAR" />
        <result column="portrait" property="portrait" jdbcType="VARCHAR" />
        <result column="refer_user" property="toName" jdbcType="VARCHAR" />
        <result column="refer_content" property="reference" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="report_number" property="reportNumber" jdbcType="INTEGER" />
        <result column="like_number" property="likeNumber" jdbcType="INTEGER" />
        <result column="info_date" property="infoDate" jdbcType="TIMESTAMP" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
    info_id, comment_id, commentator_id, refer_user, refer_content, content,
    report_number, like_number, info_date, created
    </sql>

    <select id="queryReply" resultMap="BaseResultMap" parameterType="com.example.uipservice.entity.CommentReply">
        select info_id, comment_id, commentator_id, refer_user, refer_content,
        content, report_number, like_number, info_date, comment_reply.created,
        user_name, portrait
        from comment_reply inner join user_info
        on commentator_id = user_id
        where comment_id = #{toId, jdbcType=BIGINT}
        order by like_number desc
    </select>

    <insert id="insert" parameterType="com.example.uipservice.entity.CommentReply">
        <selectKey resultType="java.lang.Long" keyProperty="infoId" order="AFTER" >
            select LAST_INSERT_ID()
        </selectKey>
        insert into comment_reply (comment_id, commentator_id, refer_user, refer_content,
        content, report_number, like_number, info_date, created)
        values (#{toId, jdbcType=BIGINT}, #{fromId, jdbcType=BIGINT},
        #{toName, jdbcType=VARCHAR}, #{reference, jdbcType=VARCHAR},
        #{content, jdbcType=VARCHAR},
        #{reportNumber, jdbcType=INTEGER}, #{likeNumber, jdbcType=INTEGER},
        #{infoDate, jdbcType=TIMESTAMP}, #{created, jdbcType=TIMESTAMP})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from comment_reply
        where info_id = #{infoId, jdbcType=BIGINT}
    </delete>

</mapper>