<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uipservice.dao.CoursesMapper" >


    <!--分页查找-->

   
    <select id="queryCourseByInfoId" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from courses
    where info_id = #{infoId}
    </select>


    <select id="queryCoursesByUniAndIns" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from courses
    where university_id = #{universityId} and institute_id = #{instituteId}
    </select>

    <select id="queryCourses" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from courses
    </select>



</mapper>
