<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.uipservice.dao.InstituteMapper" >
  <resultMap id="BaseResultMap" type="com.example.uipservice.entity.Institute" >
    <id column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="institute_name" property="instituteName" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_id, institute_name, created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from institute
    where info_id = #{infoId,jdbcType=INTEGER}
  </select>
  <select id="queryInstitute" resultMap="BaseResultMap" parameterType="com.example.uipservice.entity.Institute">
    select *
    from institute
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from institute
    where info_id = #{infoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.uipservice.entity.Institute" >
    <selectKey resultType="java.lang.Integer" keyProperty="infoId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into institute (institute_name, created)
    values (#{instituteName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.uipservice.entity.Institute" >
    <selectKey resultType="java.lang.Integer" keyProperty="infoId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into institute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instituteName != null" >
        institute_name,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instituteName != null" >
        #{instituteName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.uipservice.entity.Institute" >
    update institute
    <set >
      <if test="instituteName != null" >
        institute_name = #{instituteName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.uipservice.entity.Institute" >
    update institute
    set institute_name = #{instituteName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP}
    where info_id = #{infoId,jdbcType=INTEGER}
  </update>
</mapper>