<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.uipservice.dao.RecruitMapper" >
  <resultMap id="BaseResultMap" type="com.example.uipservice.entity.Recruit" >
    <id column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pictures" property="pictures" jdbcType="VARCHAR" />
    <result column="info_date" property="infoDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="institute_id" property="instituteId" jdbcType="INTEGER" />
    <result column="university_id" property="universityId" jdbcType="INTEGER" />
    <result column="report_number" property="reportNumber" jdbcType="INTEGER" />
    <result column="contact" property="contact" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_id, title, content, pictures, info_date, user_id, institute_id, university_id, 
    report_number, contact, created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from recruit
    where info_id = #{infoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from recruit
    where info_id = #{infoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.uipservice.entity.Recruit" >
    <selectKey resultType="java.lang.Long" keyProperty="infoId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into recruit (title, content, pictures, 
      info_date, user_id, institute_id, 
      university_id, report_number, contact, 
      created)
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{pictures,jdbcType=VARCHAR}, 
      #{infoDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{instituteId,jdbcType=INTEGER}, 
      #{universityId,jdbcType=INTEGER}, #{reportNumber,jdbcType=INTEGER}, #{contact,jdbcType=BIT}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.uipservice.entity.Recruit" >
    <selectKey resultType="java.lang.Long" keyProperty="infoId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into recruit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pictures != null" >
        pictures,
      </if>
      <if test="infoDate != null" >
        info_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="instituteId != null" >
        institute_id,
      </if>
      <if test="universityId != null" >
        university_id,
      </if>
      <if test="reportNumber != null" >
        report_number,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="infoDate != null" >
        #{infoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="instituteId != null" >
        #{instituteId,jdbcType=INTEGER},
      </if>
      <if test="universityId != null" >
        #{universityId,jdbcType=INTEGER},
      </if>
      <if test="reportNumber != null" >
        #{reportNumber,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=BIT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.uipservice.entity.Recruit" >
    update recruit
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        pictures = #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="infoDate != null" >
        info_date = #{infoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="instituteId != null" >
        institute_id = #{instituteId,jdbcType=INTEGER},
      </if>
      <if test="universityId != null" >
        university_id = #{universityId,jdbcType=INTEGER},
      </if>
      <if test="reportNumber != null" >
        report_number = #{reportNumber,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=BIT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.uipservice.entity.Recruit" >
    update recruit
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      info_date = #{infoDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      institute_id = #{instituteId,jdbcType=INTEGER},
      university_id = #{universityId,jdbcType=INTEGER},
      report_number = #{reportNumber,jdbcType=INTEGER},
      contact = #{contact,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP}
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
</mapper>