<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uipservice.dao.RecruitMapper" >


    <!--分页查找-->

    <select id="queryRecruitByUserId" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from recruit
    where user_id = #{userId}
    </select>


    <select id="queryRecruitByInfoId" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from recruit
    where info_id = #{infoId}
    </select>


    <select id="queryRecruitByUniAndIns" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from recruit
    where university_id = #{universityId} and institute_id = #{instituteId}
    </select>

    <select id="queryRecruit" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from recruit
    </select>
    <select id="queryRecruitByUniAndInsReport" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from recruit
    where university_id = #{universityId} and institute_id = #{instituteId} and report_number >= 10
    </select>

    <select id="queryRecruitReport" resultMap="BaseResultMap" parameterType="com.github.pagehelper.Page">
    select
    *
    from recruit
    where report_number >= 10
    </select>


</mapper>
