<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.uipservice.dao.ResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.example.uipservice.entity.Resources" >
    <id column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="info_date" property="infoDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="report_number" property="reportNumber" jdbcType="INTEGER" />
    <result column="is_anonymous" property="isAnonymous" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_id, title, description, address, info_date, user_id, subject_id, type_id, report_number, 
    is_anonymous, created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from resources
    where info_id = #{infoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from resources
    where info_id = #{infoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.uipservice.entity.Resources" >
    <selectKey resultType="java.lang.Long" keyProperty="infoId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resources (title, description, address, 
      info_date, user_id, subject_id, 
      type_id, report_number, is_anonymous, 
      created)
    values (#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{infoDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{subjectId,jdbcType=INTEGER}, 
      #{typeId,jdbcType=INTEGER}, #{reportNumber,jdbcType=INTEGER}, #{isAnonymous,jdbcType=BIT}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.uipservice.entity.Resources" >
    <selectKey resultType="java.lang.Long" keyProperty="infoId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="infoDate != null" >
        info_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="reportNumber != null" >
        report_number,
      </if>
      <if test="isAnonymous != null" >
        is_anonymous,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="infoDate != null" >
        #{infoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="reportNumber != null" >
        #{reportNumber,jdbcType=INTEGER},
      </if>
      <if test="isAnonymous != null" >
        #{isAnonymous,jdbcType=BIT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.uipservice.entity.Resources" >
    update resources
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="infoDate != null" >
        info_date = #{infoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="reportNumber != null" >
        report_number = #{reportNumber,jdbcType=INTEGER},
      </if>
      <if test="isAnonymous != null" >
        is_anonymous = #{isAnonymous,jdbcType=BIT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.uipservice.entity.Resources" >
    update resources
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      info_date = #{infoDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      subject_id = #{subjectId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      report_number = #{reportNumber,jdbcType=INTEGER},
      is_anonymous = #{isAnonymous,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP}
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
</mapper>